@inherits LayoutComponentBase


<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" aria-hidden="true"></span>
                <span>Dashboard</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="sell">
                <span class="oi oi-dollar" aria-hidden="true"></span> 
                <span>Sell</span>
            </NavLink>
        </li>
    </ul>
</nav>

@Body